PROJECT_SLUG=novo-projeto
K8S_NAMESPACE=novo-projeto-infra
ARGOCD_NAMESPACE=argocd

DOMAIN_BASE=novo-projeto.exemplo.com
HOST_APP=app.novo-projeto.exemplo.com
HOST_ADMIN=admin.novo-projeto.exemplo.com
HOST_API=api.novo-projeto.exemplo.com
HOST_AI=ai.novo-projeto.exemplo.com
HOST_MQTT=mqtt.novo-projeto.exemplo.com
HOST_WEBHOOK=webhook.novo-projeto.exemplo.com
HOST_SSO=sso.novo-projeto.exemplo.com
HOST_MQ=mq.novo-projeto.exemplo.com
HOST_KONG_ADMIN=kong-admin.novo-projeto.exemplo.com
HOST_KONG_MANAGER=kong-manager.novo-projeto.exemplo.com
HOST_ARGOCD=argocd.novo-projeto.exemplo.com

LETSENCRYPT_EMAIL=ops@novo-projeto.exemplo.com

GHCR_OWNER=org-exemplo
API_IMAGE_REPO=ghcr.io/org-exemplo/novo-projeto-api-gateway

GIT_REPO_URL=https://github.com/org-exemplo/novo-projeto.git
GIT_DEFAULT_BRANCH=main
GITOPS_ENV=dev

KEYCLOAK_REALM=novo-projeto
KEYCLOAK_ADMIN_USERNAME=admin
WEBAPP_CLIENT_ID=novo-projeto-webapp
ADMIN_CLIENT_ID=novo-projeto-admin

DEFAULT_TIMEZONE=America/Sao_Paulo

OTEL_BACKEND_OTLP_ENDPOINT=tempo.monitoring.svc.cluster.local:4317
OTEL_BACKEND_OTLP_INSECURE=true

EDA_EXCHANGE=novo-projeto.events
EDA_EXCHANGE_TYPE=topic
EDA_QUEUE=api-gateway.events
EDA_BINDING_KEY=platform.api-gateway.#
EDA_ROUTING_KEY_BASE=platform.api-gateway
EDA_CONSUMER_PREFETCH=20

OPENAI_API_KEY=sk-substituir-token-real
